################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GOVE.Admin.Services/.vs/GOVE.Admin.Services/v17
/GOVE.Admin.Services/GOVE.Admin.Services/obj/Debug/net8.0
/GOVE.Admin.Services/GOVE.Admin.Services/obj
/GOVE.Admin.Services/GOVE.Admin.Services/Properties
/GOVE.Admin.Services/.vs
/GOVE.Admin.Services/GOVE.Admin.Services/bin/Debug/net8.0
/GOVE.Admin.Services/GOVE.Admin.Services/bin/Release/net8.0
